*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlC1IywovuuFXr6LfmyePgwGc4h9xDDj_6v89KlJP6Xg&s);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .productSite{
    height: 70%;
    width: 60%;
    background: #457fca;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: wheat; 
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
}
.main .productSite .text{
    width: 100%;
    text-align: center;
}
.main .productSite .product{
    width: 90%;
    height: 15%;
    border: 2px solid black;
    display: flex;
    background: #360033; 
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(to right, #0b8793, #360033); 
    background: linear-gradient(to right, #0b8793, #360033);

}
.main .productSite .product .prName{
    height: 100%;
    width: 20%;
    padding-left: 45px;
    padding-top: 20px;
}
.main .productSite .product .prQnt{
    height: 100%;
    width: 20%;
    padding-left: 40px;
    padding-top: 20px;
}
.main .productSite .product .prCart{
    height: 80%;
    width: 30%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    background: #360033; 
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-radius: 50px;
    background: -webkit-linear-gradient(to right, #07b7ec, #08c942); 
    background: linear-gradient(to right, #c705d9, #c1ea09);
}
.main .productSite .product .prCart .incr1{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.main .productSite .product .prCart .incr1:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .incr2:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .incr3:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .incr4:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .QNT1{
    font-size: 1.3rem;
}
.main .productSite .product .prCart .dicr1:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .dicr2:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .dicr3:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .dicr4:hover {
    transform: scale(0.8);
}
.main .productSite .product .prCart .dicr1{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.main .productSite .product .prCart .incr2{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.main .productSite .product .prCart .QNT2{
    font-size: 1.3rem;
}
.main .productSite .product .prCart .dicr2{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.main .productSite .product .prCart .incr3{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.main .productSite .product .prCart .QNT3{
    font-size: 1.3rem;
}
.main .productSite .product .prCart .dicr3{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.main .productSite .product .prCart .incr4{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.main .productSite .product .prCart .QNT4{
    font-size: 1.3rem;
}

.main .productSite .product .prCart .dicr4{
    height: 40%;
    width: 30%;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.main .cartSite{
    height: 70%;
    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #457fca; 
    justify-content: center;
    padding-top: 10px;
    padding-right: 20px;
    gap: 20px;
    color: wheat;  
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
}
.main .cartSite .cTxt{
    text-align: center;
}
.main .cartSite .cProd1{
    width: 90%;
    height: 15%;
    justify-content: space-around;
    align-items: center;
    display: none;
    background: #360033; 
    background: -webkit-linear-gradient(to right, #0b8793, #360033); 
    background: linear-gradient(to right, #0b8793, #360033);
}
.main .cartSite .cProd2{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    background: #360033; 
    background: -webkit-linear-gradient(to right, #0b8793, #360033); 
    background: linear-gradient(to right, #0b8793, #360033);
}
.main .cartSite .cProd3{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  
    background: linear-gradient(to right, #0b8793, #360033); 
}
.main .hide{
    display: none;
    
}
.main .cartSite .cProd4{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    background: #360033;  
background: -webkit-linear-gradient(to right, #e408bc, #089beb);  
background: linear-gradient(to right, #09c225, #a7e009);
}
.main .cartSite .cProd5{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    background: #948E99; 
    background: -webkit-linear-gradient(to left, #2a07da, #ad074f); 
    background: linear-gradient(to left, #06e78d, #948E99);
}
